
body {
    overflow-x: hidden;
    padding-top: 0;
}
.pdf-banner {
    float: left;
    padding: 9% 0 2%;
    position: relative;
    width: 100%;
}
.pdf-banner span h1 {
    border-bottom: 1px solid #999;
    max-width: 200px;
    padding: 7px 0;
    width: 100%;
	 color: #fff;
}
.desk {
    display: block;
}
.mobile{
	
	display: none;
}
@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
.all-pdf {
    margin: 0 auto;
    max-width: 340px;
}

}

